﻿
@{
    Layout = null;
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
    var UnreadMessages = db.Messages.Where(x => x.IsRead == false);
    int kullaniciId = Convert.ToInt32(Session["AdminId"].ToString());
    var kullanici = db.Users.FirstOrDefault(x=>x.UserId==kullaniciId);
}


<!DOCTYPE html>
<html>
<head>
    <title>Espor | Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="/Admin/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/Admin/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/Admin/css/font.css" type="text/css" />
    <link href="/Admin/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/Admin/css/morris.css" type="text/css" />
    <!-- calendar -->
    <link rel="stylesheet" href="/Admin/css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="/Admin/js/jquery2.0.3.min.js"></script>
    <script src="/Admin/js/raphael-min.js"></script>
    <script src="/Admin/js/morris.js"></script>
    <script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/ckfinder/ckfinder.js" type="text/javascript"></script>
</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a href="@Url.Action("Index","Admin")" class="logo">
                   <img src="" /> EKAMPÜS
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-success">8</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <li>
                                <p class="">You have 8 pending tasks</p>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Target Sell</h5>
                                            <p>25% , Deadline  12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="45">
                                            <span class="percent"></span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Product Delivery</h5>
                                            <p>45% , Deadline  12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="78">
                                            <span class="percent"></span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Payment collection</h5>
                                            <p>87% , Deadline  12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="60">
                                            <span class="percent"></span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Target Sell</h5>
                                            <p>33% , Deadline  12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="90">
                                            <span class="percent"></span>
                                        </span>
                                    </div>
                                </a>
                            </li>

                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-important">@UnreadMessages.Count()</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <li>
                                <p class="red">@UnreadMessages.Count() yeni mesajınız var</p>
                            </li>
                            @foreach (var item in UnreadMessages)
                            {
                                <li>
                                    <a href="@Url.Action("MessageDetail","Admin",new { id=item.MessageId})">
                                        <span class="photo"><img alt="avatar" src="/Admin/images/3.png"></span>
                                        <span class="subject">
                                            <span class="from">@item.SenderName</span>
                                            <span class="time">@item.SendingTime</span>
                                        </span>
                                        <span class="message">
                                            @item.Subject
                                        </span>
                                    </a>
                                </li>

                            }

                            <li>
                                <a href="@Url.Action("Messages","Admin")">Tüm Mesajları Gör</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-warning">3</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <li>
                                <p>Bildirimler</p>
                            </li>
                            <li>
                                <div class="alert alert-info clearfix">
                                    <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                    <div class="noti-info">
                                        <a href="#"> Server #1 overloaded.</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="alert alert-danger clearfix">
                                    <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                    <div class="noti-info">
                                        <a href="#"> Server #2 overloaded.</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="alert alert-success clearfix">
                                    <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                    <div class="noti-info">
                                        <a href="#"> Server #3 overloaded.</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">

        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="~/Content/landing/img/arif/logo.png">
                <span class="username">@kullanici.UserName</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a href="@Url.Action("UserEdit","Admin",new {id=kullaniciId })"><i class="fa fa-suitcase"></i>Profil</a></li>
                <li><a href="@Url.Action("Logout","Admin")"><i class="fa fa-key"></i> Çıkış</a></li>
            </ul>
        </li>
        <!-- user login dropdown end -->

    </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a class="active" href="@Url.Action("Index","Admin")">
                                <i class="fa fa-dashboard"></i>
                                <span>Genel Bakış</span>
                            </a>
                        </li>
                        <li class="sub-menu dcjq-parent-li">
                            <a href="javascript:;" class="dcjq-parent">
                                <i class="fa fa-user"></i>
                                <span>Ana Sayfa</span>
                                <span class="dcjq-icon"></span>
                            </a>
                            <ul class="sub" style="display: none;">
                                <li><a href="@Url.Action("Intro","Admin")">Intro</a></li>
                                <li><a href="@Url.Action("About","Admin")">Biz Kimiz</a></li>
                                <li><a href="@Url.Action("Terms","Admin")">Katılım Koşulları</a></li>
                                <li><a href="@Url.Action("GameCalendar","Admin")">Oyun Takvimleri</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="@Url.Action("Messages","Admin")">
                                <i class="fa fa-envelope"></i>
                                <span>Mesajlar </span>
                            </a>
                        </li>
                        <li class="sub-menu dcjq-parent-li">
                            <a href="javascript:;" class="dcjq-parent">
                                <i class="fa fa-user"></i>
                                <span>Kullanıcılar</span>
                                <span class="dcjq-icon"></span>
                            </a>
                            <ul class="sub" style="display: none;">
                                <li><a href="@Url.Action("Users","Admin")">Yöneticiler</a></li>
                                <li><a href="@Url.Action("Gamers","Admin")">Oyuncular</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Games","Admin")">
                                <i class="fa fa-gamepad"></i>
                                <span>Oyunlar </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Blog","Admin")">
                                <i class="fa fa-pencil"></i>
                                <span>Blog </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Universities","Admin")">
                                <i class="fa fa-graduation-cap"></i>
                                <span>Üniversite </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Tournaments","Admin")">
                                <i class="fa fa-trophy"></i>
                                <span>Turnuvalar </span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="@Url.Action("Settings","Admin")">
                                <i class="fa fa-wrench"></i>
                                <span>Ayarlar</span>
                            </a>
                        </li>

                        <li>
                            <a href="login.html">
                                <i class="fa fa-power-off"></i>
                                <span>Çıkış</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            @RenderBody()
            <!-- footer -->
            <div class="footer">
                <div class="wthree-copyright">
                    <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
                </div>
            </div>
            <!-- / footer -->
        </section>
        <!--main content end-->
    </section>
    <script src="/Admin/js/bootstrap.js"></script>
    <script src="/Admin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Admin/js/scripts.js"></script>
    <script src="/Admin/js/jquery.slimscroll.js"></script>
    <script src="/Admin/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/Admin/js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="/Admin/js/jquery.scrollTo.js"></script>
    <!-- morris JavaScript -->
    <script>
	$(document).ready(function() {
		//BOX BUTTON SHOW AND CLOSE
	   jQuery('.small-graph-box').hover(function() {
		  jQuery(this).find('.box-button').fadeIn('fast');
	   }, function() {
		  jQuery(this).find('.box-button').fadeOut('fast');
	   });
	   jQuery('.small-graph-box .box-close').click(function() {
		  jQuery(this).closest('.small-graph-box').fadeOut(200);
		  return false;
	   });

	    //CHARTS
	    function gd(year, day, month) {
			return new Date(year, month - 1, day).getTime();
		}

		graphArea2 = Morris.Area({
			element: 'hero-area',
			padding: 10,
        behaveLikeLine: true,
        gridEnabled: false,
        gridLineColor: '#dddddd',
        axes: true,
        resize: true,
        smooth:true,
        pointSize: 0,
        lineWidth: 0,
        fillOpacity:0.85,
			data: [
				{period: '2015 Q1', iphone: 2668, ipad: null, itouch: 2649},
				{period: '2015 Q2', iphone: 15780, ipad: 13799, itouch: 12051},
				{period: '2015 Q3', iphone: 12920, ipad: 10975, itouch: 9910},
				{period: '2015 Q4', iphone: 8770, ipad: 6600, itouch: 6695},
				{period: '2016 Q1', iphone: 10820, ipad: 10924, itouch: 12300},
				{period: '2016 Q2', iphone: 9680, ipad: 9010, itouch: 7891},
				{period: '2016 Q3', iphone: 4830, ipad: 3805, itouch: 1598},
				{period: '2016 Q4', iphone: 15083, ipad: 8977, itouch: 5185},
				{period: '2017 Q1', iphone: 10697, ipad: 4470, itouch: 2038},

			],
			lineColors:['#eb6f6f','#926383','#eb6f6f'],
			xkey: 'period',
            redraw: true,
            ykeys: ['iphone', 'ipad', 'itouch'],
            labels: ['All Visitors', 'Returning Visitors', 'Unique Visitors'],
			pointSize: 2,
			hideHover: 'auto',
			resize: true
		});


	});
    </script>
    <!-- calendar -->
    <script type="text/javascript" src="/Admin/js/monthly.js"></script>
    <script type="text/javascript">
		$(window).load( function() {

			$('#mycalendar').monthly({
				mode: 'event',

			});

			$('#mycalendar2').monthly({
				mode: 'picker',
				target: '#mytarget',
				setWidth: '250px',
				startHidden: true,
				showTrigger: '#mytarget',
				stylePast: true,
				disablePast: true
			});

		switch(window.location.protocol) {
		case 'http:':
		case 'https:':
		// running on a server, should be good.
		break;
		case 'file:':
		alert('Just a heads-up, events will not work when run locally.');
		}

		});
    </script>
    <!-- //calendar -->
</body>
</html>
