﻿
@{
    Layout = null;
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
    var konsolOyunlar = db.Games.Where(x => x.IsActive == true).Where(x => x.GameCategory == "Konsol").ToList();
    var masaustuOyunlar = db.Games.Where(x => x.IsActive == true).Where(x => x.GameCategory == "Masaüstü").ToList();
    var mobilOyunlar = db.Games.Where(x => x.IsActive == true).Where(x => x.GameCategory == "Mobil").ToList();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Espor Kampüs</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/Content/landing/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/Content/landing/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Content/landing/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/landing/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/Content/landing/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/Content/landing/css/style.css" rel="stylesheet">
    <link href="/Content/landing/css/style.min.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Avilon
      Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    <div>
        <header id="header">
            <div class="container">

                <div id="logo" class="pull-left">
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/landing/img/arif/logo.png" style="margin-top: -30px"></a>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        <li class="menu-has-children">
                            <a href="#"><span><strong>OYUNLAR</strong></span></a>
                            <ul>
                                <li class="menu-has-children">
                                    <a href="#"><span>MASA ÜSTÜ OYUNLAR</span></a>
                                    <ul>
                                        @foreach (var item in masaustuOyunlar)
                                        {
                                            <li><a href="@Url.Action("Games","Home",new {id=item.GameId})"><span>@item.GameName</span></a></li>
                                        }

                                    </ul>
                                </li>
                                <li class="menu-has-children">
                                    <a href="#"><span>MOBİL OYUNLAR</span></a>
                                    <ul>
                                        @foreach (var item in mobilOyunlar)
                                        {
                                            <li><a href="@Url.Action("Games","Home",new {id=item.GameId})"><span>@item.GameName</span></a></li>
                                        }
                                        
                                    </ul>
                                </li>
                                <li class="menu-has-children">
                                    <a href="#"><span>KONSOL OYUNLAR</span></a>
                                    <ul>
                                        @foreach (var item in konsolOyunlar)
                                        {
                                            <li><a href="@Url.Action("Games","Home",new {id=item.GameId})"><span>@item.GameName</span></a></li>
                                        }

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="active"><a href="@Url.Action("Universities","Home")"><span><strong>ÜNİVERSİTELER</strong></span></a></li>
                        <li class="menu-has-children">
                            <a href="#"><span><strong>TURNUVA</strong></span></a>
                            <ul>
                                <li><a href="@Url.Action("Fixture","Home")"><span>FİKSTÜR</span></a></li>
                                <li><a href="@Url.Action("ActiveGames","Home")"><span>AKTİF OYUNLAR</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Application","Home")"><span><strong>BAŞVUR</strong></span></a>

                        </li>
                        <li><a href="@Url.Action("AboutUs","Home")"><span><strong>BİZ KİMİZ</strong></span></a></li>
                        <li><a href="@Url.Action("Blogs","Home")"><span><strong>HABERLER</strong></span></a></li>
                        <li><a href="@Url.Action("Contact","Home")"><span><strong>İLETİŞİM</strong></span></a></li>
                       
                            @if (Session["KullaniciId"] == null || Session["KullaniciId"].ToString() == "")
                            {
                                <li><a href="@Url.Action("Login","Home")"><img src="~/Content/landing/img/arif/loginIcon.png" style="height:30px;width:30px" width="40px" title="Giriş Yap"></a></li>
                            }
                            else
                            {
                                int id = Convert.ToInt32(Session["KullaniciId"].ToString());
                                var kullanici = db.Users.FirstOrDefault(x=>x.UserId==id);
                                <li class="menu-has-children" style="background-color:orange">
                                    <a href="#"><span><strong>@kullanici.UserName</strong></span></a>
                                    <ul>
                                        <li><a href="@Url.Action("UserProfile","Home",new {id=kullanici.UserId })"><span>PROFİL</span></a></li>
                                        <li><a href="@Url.Action("SignOut","Home")"><span>ÇIKIŞ YAP</span></a></li>
                                    </ul>
                                </li>
                            }
                       <!-- <a href="@Url.Action("SignOut","Home")"><img src="~/Content/landing/img/arif/Login_out.png" style="height:30px;width:30px" title="Çıkış Yap"></a>-->
                    </ul>
                </nav>
            </div>
        </header>
        @RenderBody()

    </div>

    <script src="/Content/landing/lib/jquery/jquery.min.js"></script>
    <script src="/Content/landing/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/Content/landing/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/landing/lib/easing/easing.min.js"></script>
    <script src="/Content/landing/lib/wow/wow.min.js"></script>
    <script src="/Content/landing/lib/superfish/hoverIntent.js"></script>
    <script src="/Content/landing/lib/superfish/superfish.min.js"></script>
    <script src="/Content/landing/lib/magnific-popup/magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="/Scripts/landing/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/Scripts/landing/js/main.js"></script>
</body>
</html>
