﻿@model Kampus.DAL.Blogs
@{
    ViewBag.Title = "BlogEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("BlogEdit", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.BlogId)
    <section class="wrapper">
        <div class="form-w3layouts">
            <!-- page start-->
            <!-- page start-->
            <div class="row">
                
                <h3 style="text-align:center">BLOG</h3>

                <h5 style="text-align:center">Blog Düzenle</h5>
                <div class="form-horizontal" style="width:90%">

                    <p style="text-align:center"> @ViewBag.BosVeri</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x=>x.BlogTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Oncelik", "Öncelik", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @* @Html.RadioButtonFor(x => x.Role, "Müdür") <span>Müdür</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*@
                            @Html.RadioButtonFor(x=>x.Priority, "true")   <span>Evet</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            @Html.RadioButtonFor(x=>x.Priority, "false")   <span>Hayır</span>
                          
                        </div>
                    </div>
                 
                    <div class="form-group">
                        @Html.Label("Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="BlogResmi" />Lütfen Bir Resim Yükleyeniz.
                            @Html.ValidationMessage("Resim", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("İlgili Oyun", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("OyunId", new SelectList(ViewBag.GameList, "GameId", "GameName"))
                            @Html.ValidationMessage("OyunId", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Blog İçeriği", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(x=>x.BlogContent, new { @id = "editor1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Güncelle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- page end-->
        </div>
    </section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var editor = CKEDITOR.instances['editor1'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('editor1', {
        enterMode: CKEDITOR.ENTER_BR,
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');
</script>


