﻿@model Kampus.DAL.Blogs
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Blog Detayı
            </div>
            <div>
                <br />

                <div class="form-horizontal" style="margin-left:5%">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Blog Başlığı:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.BlogTitle)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Yazar:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.WriterId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("İlgili Oyun:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Games.GameName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Kayıt Tarihi:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Blog Resmi:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="@Model.BlogImageURL" style="width:50%; height:50%" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Blog İçeriği:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Raw(Model.BlogContent);
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <a href="@Url.Action("Blog","Admin")" class="btn btn-info">Listeye Dön</a>
                        </div>
                    </div>
                    <br />
                </div>              
            </div>
        </div>
    </div>
</section>
