﻿@model Kampus.DAL.CalendarOfGames
@{
    ViewBag.Title = "GameCalendarDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Oyun Takvimi Detayı
            </div>
            <div>
                <br />
                <table style="margin-left:35%; font-size:medium;">
                    <tr>
                        <td>
                            @Html.DisplayName("Oyun Adı:")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Games.GameName)
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayName("Tarih 1:")</td>
                        <td>@Html.DisplayFor(model => model.Date1)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Tarih 2:")</td>
                        <td>@Html.DisplayFor(model => model.Date2)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Tarih 3:")</td>
                        <td>@Html.DisplayFor(model => model.Date3)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Tarih 4:")</td>
                        <td>@Html.DisplayFor(model => model.Date4)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Tarih 5:")</td>
                        <td>@Html.DisplayFor(model => model.Date5)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Tarih 6:")</td>
                        <td>@Html.DisplayFor(model => model.Date6)</td>
                    </tr>

                  
                    <tr>

                        <td colspan="2"><br /><br />@Html.ActionLink("Listeye Dön", "GameCalendar")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

