﻿@model Kampus.DAL.Intro
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IntroId)
    <section class="wrapper">
        <div class="form-w3layouts">
            <!-- page start-->
            <!-- page start-->
            <div class="row">
                <h3 style="text-align:center">ANASAYFA - INTRO</h3>

               
                <h5 style="text-align:center">Sayfa Düzenle</h5>
                <div class="form-horizontal" style="width:90%; margin-left:17%">
                    <p style="text-align:center"> @ViewBag.BosVeri</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Header, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Header, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Button Link", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Button, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Button, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Background", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.ImageUrl, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Güncelle" class="btn btn-success" name="btnKaydet" id="btnkaydet" />
                        </div>
                    </div>


                </div>
            </div>

            <!-- page end-->
        </div>
    </section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>

<script>
    $("#btnKaydet").click(function () {
        alert("button"); // Remove this line if it worked
        $("#alert alert-success").show();
    });
</script>


