﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Espor Kampüs | Login to Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="/Admin/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/Admin/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/Admin/css/font.css" type="text/css" />
    <link href="/Admin/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="/Admin/js/jquery2.0.3.min.js"></script>
</head>
<body>
    <div class="log-w3">
        <div class="w3layouts-main">
            <img src="~/Content/landing/img/arif/logo.png" style="margin-left:35%; margin-right:35%" />
            <h3 style="color:white;text-align:center">YÖNETİM PANELİ</h3>
            @if (ViewBag.Hata)
            {
                    <p style="text-align:center">@ViewBag.Mesaj</p>
            }
        @using (Html.BeginForm("LoginToPanel", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
          @Html.AntiForgeryToken()
            <form action="#" method="post">
                <input type="email" class="ggg" name="email" placeholder="E-POSTA" required="">
                <input type="password" class="ggg" name="password" placeholder="PAROLA" required="">
                <div class="clearfix"></div>
                <input type="submit" value="GİRİŞ YAP" style="color:black" name="login">
            </form>
        }
        </div>
    </div>
    <script src="/Admin/js/bootstrap.js"></script>
    <script src="/Admin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Admin/js/scripts.js"></script>
    <script src="/Admin/js/jquery.slimscroll.js"></script>
    <script src="/Admin/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/Admin/js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="/Admin/js/jquery.scrollTo.js"></script>
</body>
</html>
