﻿@model IEnumerable<Kampus.DAL.Matches>
@{
    Kampus.DAL.MyModel db= new Kampus.DAL.MyModel();
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int oyunId = ViewBag.OyunId;
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.OyunAdi &nbsp; Maçları <span style="margin-right:2%; right:2% ;position:absolute;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:small"><a href="@Url.Action("MatchAdd","Admin")"><img src="~/Admin/images/addButton.png" width="32px" height="32px" title="Yeni Ekle" />&nbsp; Yeni Tur Ekle</a></span>
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Takım 1</th>
                            <th>Takım 2</th>
                            <th>Durum</th>
                            <th>Tarih</th>
                            <th>Skor</th>
                            <th>Tur</th>
                            <th></th>
                            <!--  <th data-breakpoints="xs">Job Title</th>

                              <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var takim1 = db.Teams.FirstOrDefault(x=>x.TeamId==item.Team1Id);
                            var takim2 = db.Teams.FirstOrDefault(x => x.TeamId == item.Team2Id);
                            <tr data-expanded="true">
                                <td>@item.MatchId</td>
                                <td>@takim1.TeamName</td>
                                <td>@takim2.TeamName</td>
                                
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <a href="@Url.Action("MatchDurum", "Admin" ,new {id=@item.MatchId })">  <span class="label label-success">Aktif</span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("MatchDurum", "Admin" ,new {id=@item.MatchId })">  <span class="label label-danger">Pasif</span></a>
                                    }
                                </td>

                                <td>@item.StartingTime</td>
                                <td>@item.Team1Score - @item.Team2Score</td>
                                <td style="color:red">@item.WhatAbout</td>
                                <td>
                                   @* <a href="@Url.Action("MatchDetail","Admin", new {id=item.MatchId })">
        <img src="~/Admin/images/informationIcon.png" height="32" width="32" title="Detay" />
    </a>*@
                                    <a href="#" data-toggle="modal" data-target="#matchScore-@item.MatchId">
                                        <img src="~/Admin/images/updateButton.png" height="32" width="32" title="Güncelle" />
                                    </a>
                                    <a href="@Url.Action("MatchDelete","Admin", new {id=item.MatchId })">
                                        <img src="~/Admin/images/deleteButton.png" height="32" width="32" title="Sil" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @foreach (var item in Model)
                {   string takim1 = db.Teams.FirstOrDefault(x => x.TeamId == item.Team1Id).TeamName;
                    string takim2 = db.Teams.FirstOrDefault(x => x.TeamId == item.Team2Id).TeamName;
                    using (Html.BeginForm("MatchUpdate", "Admin", new { id = item.MatchId }, FormMethod.Get))
                    {
                        <div class="modal fade" id="matchScore-@item.MatchId" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content" style="width:150%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Skor Gir</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="col-md-8">@takim1</div>
                                            <div class="col-md-4">
                                                <input type="number" class="form-control" name="takim1" placeholder="@item.Team1Score" />
                                            </div>
                                        </div><br />
                                        <div class="form-group">
                                            <div class="col-md-8">@takim2</div>
                                            <div class="col-md-4">
                                                <input type="number" class="form-control" name="takim2" placeholder="@item.Team2Score" />
                                            </div>
                                        </div><br />

                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-inline btn-info pull-right" style="width:75px;" data-dismiss="modal">İptal</button>
                                        <input type="submit" value="Güncelle" class="btn btn-inline btn-info pull-left" style="background-color:#d9534f; width:75px;" id="@item.MatchId" />


                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                
            </div>
        </div>
    </div>
</section>

