﻿@model Kampus.DAL.Matches
@{
    ViewBag.Title = "MatchAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("MatchAdd", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="wrapper">
        <div class="form-w3layouts">
            <!-- page start-->
            <!-- page start-->
            <div class="row">
                <h3 style="text-align:center">TURNUVA</h3>

                <h5 style="text-align:center">Yeni Tur Ekle</h5>
                <div class="form-horizontal">
                   @if (ViewBag.Hata)
                   {
                    <p style="text-align:center"> @ViewBag.Mesaj</p>
                   }
                    
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Oyun Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("oyunId", new SelectList(ViewBag.GamesList, "GameId", "GameName"), new { @class = "form-control", @style = "width:80% ;height:35px" })
                            @Html.ValidationMessageFor(x => x.Games.GameName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Maç Cinsi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           
                            <select name="turCinsi" id="turCinsi" value="3" class="form-control" style="height:35px;width:80%">
                                <option selected="selected">1. Tur</option>
                                <option>2. Tur</option>
                                <option>3. Tur</option>
                                <option>4. Tur</option>
                                <option>5. Tur</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Maç Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.StartingTime, new { htmlAttributes = new { @class = "form-control" , @placeholder="gg/aa/yyyy", @style = "width:80%" } })
                            @Html.ValidationMessageFor(x => x.StartingTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Turnuvayı Oluştur" class="btn btn-success" />
                        </div>
                    </div>


                </div>
            </div>

            <!-- page end-->
        </div>
    </section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var editor = CKEDITOR.instances['editor1'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('editor1', {
        enterMode: CKEDITOR.ENTER_BR,
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');
</script>


