﻿@model Kampus.DAL.Messages

@{  
    ViewBag.Title = "MessageDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mesaj Detayı
            </div>
            <div>
                <br />
                <table style="margin-left:20%; font-size:medium;">
                    <tr>
                        <td>
                            @Html.DisplayName("Gönderici Adı:")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SenderName)
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayName("Gönderici E-Posta:") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>@Html.DisplayFor(model => model.SenderEmail)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Konu:")</td>
                        <td>@Html.DisplayFor(model => model.Subject)</td>
                    </tr>

                    <tr>
                        <td style="background-color:gold">@Html.DisplayName("Mesaj:")</td>
                        <td style="background-color:gold">@Html.DisplayFor(model => model.MessageContent)</td>
                    </tr>
                    @if (Model.MessagePhotoURL != null)
                    {
                        <tr>
                            <td>@Html.DisplayName("Mesaj Resmi:")</td>
                            <td><img src="@Model.MessagePhotoURL" width="50%" height="50%" /></td>
                        </tr>
                    }
                    <tr>
                        <td>@Html.DisplayName("Gönderici IP:")</td>
                        <td>@Html.DisplayFor(model => model.SenderIP)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Gönderim Zamanı:")</td>
                        <td>@Html.DisplayFor(model => model.SendingTime)</td>
                    </tr>
                    <tr>

                        <td colspan="2"><br /><br />@Html.ActionLink("Listeye Dön", "Messages")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>




