﻿@model IEnumerable<Kampus.DAL.Messages>
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mesajlar
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Gönderici Adı</th>
                            <th>E-Posta</th>
                            <th>IP Adresi</th>
                            <th>Gönderim Zamanı</th>

                            <th></th>
                            <!--  <th data-breakpoints="xs">Job Title</th>

                              <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-expanded="true" style="background-color:@item.RowBgColor">
                                <td>@item.MessageId</td>
                                <td>@item.SenderName</td>
                                <td>@item.SenderEmail</td>
                                <td>@item.SenderIP</td>
                                <td>@item.SendingTime</td>

                                <td>
                                    <a href="@Url.Action("MessageDetail" , new { id = item.MessageId })">
                                        @if (item.IsRead == false)
                                        {<img src="~/Admin/images/informationIconNew.png" height="32" width="32" title="Okunmamış Mesaj" />}
                                        else
                                        {<img src="~/Admin/images/informationIcon.png" height="32" width="32" title="Okunmuş Mesaj" />}
                                    </a>

                                    <a href="@Url.Action("MessageDelete","Admin" , new { id=item.MessageId})">
                                        <img src="~/Admin/images/deleteButton.png" height="32" width="32" title="Sil" />
                                    </a>
                                </td>
                            </tr>
                        }
                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

