﻿@model IEnumerable<Kampus.DAL.Games>
@{
    ViewBag.Title = "Tournaments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Turnuvalar 
            </div>
            <div>
                <div class="market-updates">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 market-update-gd">
                            <div class="market-update-block clr-block-4">
                                <div class="col-md-4 market-update-right">
                                    <a href="@Url.Action("Matches","Admin",new {id=item.GameId})"> <img src="@item.GameLogoURL" style="height:100%; width:100%;" /></a>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <h4><a href="@Url.Action("Matches","Admin",new {id=item.GameId})" style="color:white"> @item.GameName</a></h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"> </div>
                </div> 
            </div>
        </div>
    </div>
    
</section>