﻿@model Kampus.DAL.Universities
@{
    ViewBag.Title = "UniversityAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("UniversityAdd", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="wrapper">
        <div class="form-w3layouts">
            <!-- page start-->
            <!-- page start-->
            <div class="row">
                <h3 style="text-align:center">ÜNİVERSİTELER</h3>

                <h5 style="text-align:center">Yeni Üniversite Ekle</h5>
                <div class="form-horizontal">
                    <p style="text-align:center"> @ViewBag.BosVeri</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Üniversite Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.UniversityName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.UniversityName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Logo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="UniLogo" />Lütfen Bir Resim Yükleyeniz.
                            @Html.ValidationMessageFor(x => x.UniversityLogoURL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Oluştur" class="btn btn-success" />
                        </div>
                    </div>


                </div>
            </div>

            <!-- page end-->
        </div>
    </section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>


