﻿@model IEnumerable<Kampus.DAL.Universities>
@{
    ViewBag.Title = "Universities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Üniversiteler <span style="margin-right:2%; right:2% ;position:absolute;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:small"><a href="@Url.Action("UniversityAdd","Admin")"><img src="~/Admin/images/addButton.png" width="32px" height="32px" title="Yeni Ekle" />&nbsp; Yeni Üniversite Ekle</a></span>
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Üniversite Adı</th>
                            <th>Logo</th>

                            <th></th>
                            <!--  <th data-breakpoints="xs">Job Title</th>

                              <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-expanded="true">
                                <td>@item.UniversityId</td>
                                <td>@item.UniversityName</td>
                                <td><img src="@item.UniversityLogoURL" style="height:70px; width:70px;" /> </td>

                                <td>
                                    <a href="@Url.Action("UniversityDelete","Admin" , new { id=item.UniversityId})">
                                        <img src="~/Admin/images/deleteButton.png" height="32" width="32" title="Sil" />
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

