﻿@model IEnumerable<Kampus.DAL.Users>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                YÖNETİCİLER <span style="margin-right:2%; right:2% ;position:absolute;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:small"><a href="@Url.Action("UserAdd","Admin")"><img src="~/Admin/images/addButton.png" width="32px" height="32px" title="Yeni Ekle" />&nbsp; Yeni Yönetici Ekle</a></span>
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Kullanıcı Adı</th>
                            <th>E-Posta</th>
                            <th>Rol</th>
                            <th>Durum</th>

                            <th></th>
                            <!--  <th data-breakpoints="xs">Job Title</th>

                              <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-expanded="true">
                                <td>@item.UserId</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>@{ string rol = "";
                                    if (item.Role==0)
                                    {
                                        rol= "Sistem";
                                    }
                                    else if (item.Role==1)
                                    {
                                        rol = "Editör";
                                    }
                                    else if (item.Role==2)
                                    {
                                        rol = "İstatistik";
                                    }
                                    }

                                @rol</td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <a href="@Url.Action("UserDurum", "Admin" ,new {id=@item.UserId })">  <span class="label label-success">Aktif</span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("UserDurum", "Admin" ,new {id=@item.UserId })">  <span class="label label-danger">Pasif</span></a>
                                    }
                                </td>


                                <td>
                                    <a href="@Url.Action("UserDetail","Admin", new { id=item.UserId})">
                                        <img src="~/Admin/images/informationIcon.png" height="32" width="32" title="Detay" />
                                    </a>
                                    <a href="@Url.Action("UserEdit","Admin", new { id=item.UserId})">
                                        <img src="~/Admin/images/updateButton.png" height="32" width="32" title="Güncelle" />
                                    </a>
                                    <a href="@Url.Action("UserDelete","Admin" , new { id=item.UserId})">
                                        <img src="~/Admin/images/deleteButton.png" height="32" width="32" title="Sil" />
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

