﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 100% auto;
    }
</style>
<div class="deneme"></div>
<div id="about" class="landing-sport-about" style="margin-top:5%">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>TURNUVA DENEYİMİNİ KAMPÜSTE YAŞA!</h4>
                        <p>
                            @Html.Raw(@ViewBag.BizKimiz)

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <h4>TURNUVA DENEYİMİN İÇİN!</h4>
                <div class="col-md-6">
                    <h5 class="text-center"><img src="/Content/landing2/images/sart/1.png" width="32px" height="38" alt="icon">@ViewBag.Rule1</h5>
                </div>
                <div class="col-md-6">
                    <h5 class="text-center"><img src="/Content/landing2/images/sart/3.png" width="32px" height="38" alt="icon">@ViewBag.Rule3</h5>
                </div>
                <div class="col-md-6">
                    <h5 class="text-center"><img src="/Content/landing2/images/sart/2.png" width="32px" height="38" alt="icon">@ViewBag.Rule4</h5>
                </div>
                <div class="col-md-6">
                    <h5 class="text-center"><img src="/Content/landing2/images/sart/4.png" width="32px" height="38" alt="icon">@ViewBag.Rule6</h5>
                </div>


            </div>
        </div>

    </div>
</div>
