﻿@model IEnumerable<Kampus.DAL.Games>
@{
    ViewBag.Title = "ActiveGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Content/landing/img/arif/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<div class="deneme"></div>
<div class="championship-wrap">
    <div class="champ-tab-wrap tab-content" style="margin-top: 10px;">
        <!--CHAMPIONSHIP PART WRAP BEGIN -->
        <div class="tab-item part-wrap tab-pane active" id="teams">
            <div class="part-list">
                <br /><br /><br /><br />
                <div class="container">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("Games","Home",new {id=item.GameId })" class="item">
                                    <span class="logo"><img src="@item.GameLogoURL" width="80" height="80" alt="@item.GameName"></span>
                                    <span class="name">@item.GameName</span>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

