﻿@model IEnumerable<Kampus.DAL.Blogs>
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
    int blogSayac = 0;
}

<div class="content">
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

            <!--SIDEBAR BEGIN-->
            <section class="sidebar col-xs-6 col-md-3 sidebar-offcanvas" id="sidebar">
                <br /><br />
                <div class="sidebar-menu-wrap">
                    <h6>Son Eklenenler</h6>
                    <ul class="categories-list">
                       
                        @foreach (var item in db.Blogs.Where(x => x.IsActive == true).OrderByDescending(c => c.CreatedDate))
                        {
                            if (blogSayac < 10)
                            {
                                if (item.BlogTitle.Length > 25)
                                {
                                    <li>
                                        <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})"><span class="count">1</span>@item.BlogTitle.Substring(0,25) ...</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})"><span class="count">1</span>@item.BlogTitle</a>
                                    </li>
                                }

                            }
                            else
                            {
                                break;
                            }
                        }                         
                    </ul>
                </div>
                <!--
                  <div class="sidebar-search-wrap">
                      <h6>Search</h6>
                      <form>
                          <div class="wrap">
                              <input type="text">
                              <button><i class="fa fa-search" aria-hidden="true"></i></button>
                          </div>
                      </form>
                  </div>
                -->
                <div class="sidebar-tags-wrap">
                    <h6>Konular</h6>
                    <div class="tags">
                        @foreach (var item in db.Games.ToList())
                        {
                            <a href="#">@item.GameName</a>
                        }
                    </div>
                </div>
            </section>
            <!--SIEDBAR END-->
            <!--NEWS LIST BEGIN-->
            <div class="news-list col-xs-12 col-md-9">
                <br /><br /><br />
                <p class="hidden-md hidden-lg">
                    <button type="button" class="btn sidebar-btn" data-toggle="offcanvas" title="Toggle sidebar">Menü</button>
                </p>

                @foreach (var item in Model)
                {
                    string[] bugun = DateTime.Now.ToString().Split(' ');
                    string[] tarih = item.CreatedDate.ToString().Split(' ');
                    <div class="col-md-6">
                        <div class="item img-top">
                            <div class="img-wrap">
                                @if (tarih[0] == bugun[0])
                                {
                                    <div class="bage highlight"> Yeni </div>
                                }
                                <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})"><img src="@item.BlogImageURL" style="height:220px; width:380px" alt="@item.BlogTitle"></a>
                            </div>
                            <div class="info">
                                <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})" class="name">@item.BlogTitle</a>
                                <div class="wrap">
                                    <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})">@item.CreatedDate</a>&nbsp; Yazar: <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})">@item.WriterId</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                }



                <!--
                <div class="item">
                    <div class="info">
                        <a href="news-single.html" class="name">Post Format: Aside</a>
                        <div class="wrap">
                            <a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Mason Carrington</a>
                        </div>
                        <div class="comment-quantity">3 comments</div>
                        <div class="clear"></div>
                        <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.  Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck.</p>
                        <a href="news-single.html" class="continue">Continue Reading</a>
                    </div>
                </div>
                -->

                <div class="pagination-wrap">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--NEWS LIST END-->


        </div>
    </div>
</div>



<script type="text/javascript" src="~/Scripts/others/js/library/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery.sticky.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery.jcarousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jcarousel.connected-carousels.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/owl.carousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/progressbar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery.bracket.min.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/chartist.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/Chart.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/fancySelect.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/isotope.pkgd.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/imagesloaded.pkgd.js"></script>

<script type="text/javascript" src="~/Scripts/others/js/jquery.team-coundown.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/matches-slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/header.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/matches_broadcast_listing.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/news-line.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/match_galery.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/main-club-gallery.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/product-slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/circle-bar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/standings.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/shop-price-filter.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/timeseries.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/radar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/preloader.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/diagram.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/bi-polar-diagram.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/label-placement-diagram.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/donut-chart.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/animate-donut.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/advanced-smil.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/svg-path.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/pick-circle.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/horizontal-bar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/gauge-chart.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/stacked-bar.js"></script>

<script type="text/javascript" src="~/Scripts/others/js/library/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/chartist-plugin-threshold.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/chartist-plugin-pointlabels.js"></script>

<script type="text/javascript" src="~/Scripts/others/js/treshold.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/visible.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/anchor.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/landing_carousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/landing_sport_standings.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/twitterslider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/champions.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/landing_mainnews_slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/carousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/video_slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/footer_slides.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/player_test.js"></script>

<script type="text/javascript" src="~/Scripts/others/js/main.js"></script>


