﻿
@{
    ViewBag.Title = "Complaint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Content/landing/img/arif/24139.jpg);
       background-size: cover;
    }
</style>
<div class="deneme"></div>
<section>
    <div class="container" style="margin-top:5%; padding-top:5%; padding-bottom:6%">
        <div class="row wow fadeInUp">
            
            <div class="col-md-8" style="margin-left:15%;margin-right:15%">
                <br><br>
                <div class="form">
                    @using (Html.BeginForm("Complaint", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="sendmessage"><h5 style="color:black">ŞİKAYET & ÖNERİ</h5></div>
                        <div id="errormessage"><p style="text-align:center; color:red;font-weight:600"> @ViewBag.BosVeri</p></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="AdSoyad" class="form-control" id="AdSoyad" placeholder="Ad-Soyad" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="Eposta" id="Eposta" placeholder="E-Posta" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <select name="Konu" id="Konu" value="3" class="form-control" style="height:35px;width:80%">
                                            <option selected="selected">--Lütfen Seçiniz--</option>
                                            <option>Maçlar hakkında</option>
                                            <option>Oyunlar hakkında</option>
                                            <option>Kurallar hakkında</option>
                                            <option>Takımlar hakkında</option>
                                        </select>
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="file" name="resim" id="resim" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                    <textarea class="form-control" name="Mesaj" rows="5" data-rule="required" data-msg="Mesajınız..." placeholder="Mesajınız..."></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><input type="submit" title="Gönder" class="btn"></div>
                            </form>
                    }
                </div>
            </div>


        </div>
    </div>
</section>


