﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Content/landing/img/arif/24139.jpg);
        background-size: cover;
    }
</style>
<div class="deneme"></div>
<section>
    <div class="container" style="margin-top:5%; padding-top:7%; padding-bottom:6%">
        <div class="row wow fadeInUp">
            <div class="col-lg-3">
                <div class="contact-about">
                    <div id="logo" class="col-lg-4 pull-left">
                        <a href="@Url.Action("Index","Home")"><img src="~/Content/landing/img/arif/logo.png" style="height: 90px; width: 100px;"></a>
                    </div>
                    <h3 style="color:black">Esporkampüs</h3>
                    <p><a href="@Url.Action("Complaint","Home")"> Şikayet ve önerilerinizi bildirin.</a></p>
                <!--    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>-->
            </div>
          </div>
            <div class="col-lg-4">
                <br /><br />
                <div class="info">
                    <div style="color:black">
                        <i class="ion-ios-location-outline"></i>
                        <span style="color:black;font-weight:700">&nbsp; İstanbul</span>

                    </div>
                    <br />
                    <div style="color:black">
                        <i class="ion-ios-email-outline"></i>
                        <span style="color:black;font-weight:700">&nbsp; info@esporkampus.com</span>
                    </div>
                    <br />
                    <div style="color:black">
                        <i class="ion-ios-telephone-outline"></i>
                        <span style="color:black;font-weight:700">&nbsp; telefon</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 col-md-8">
                <br><br>
                <div class="form">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="sendmessage"><h5 style="color:black">BİZE NE SÖYLEMEK İSTERSİNİZ!</h5></div>
                            <div id="errormessage"><p style="text-align:center; color:red;font-weight:600"> @ViewBag.BosVeri</p></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="AdSoyad" class="form-control" id="AdSoyad" placeholder="Ad-Soyad" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="Eposta" id="Eposta" placeholder="E-Posta" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Konu" id="Konu" placeholder="Konu" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="Mesaj" rows="5" data-rule="required" data-msg="Mesajınız..." placeholder="Mesajınız..."></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><input type="submit" title="Gönder" class="btn"></div>
                            </form>
                    }
                </div>
            </div>


        </div>
    </div>
</section>

