﻿@model IEnumerable<Kampus.DAL.Games>
@{
    ViewBag.Title = "Fixture";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
}

<div class="tab-item match-wrap tab-pane" id="matches">
    <div class="container">
        <div class="row" style="margin-top:10%">    
@foreach (var item in Model)
    {
        var oyun = db.Matches.Where(x => x.GameId == item.GameId).Where(c=>c.IsActive==true);
    <div class="col-md-2"></div>
            <div class="col-md-8">
                <h6>@item.GameName</h6>
                <div class="main-lates-matches">
               
                @foreach (var subItem in oyun)
                {
                    var takim1 = db.Teams.FirstOrDefault(x => x.TeamId == subItem.Team1Id);
                    var takim2 = db.Teams.FirstOrDefault(x => x.TeamId == subItem.Team2Id);
                    <a href="#" class="item" style="margin-bottom:10px">
                        <span class="championship">@subItem.WhatAbout </span>
                        <span class="teams-wrap">
                            <span class="team"><span><img src="@takim1.LogoImageURL" alt="@takim1.TeamName"></span><span>@takim1.TeamName</span></span>
                            <span class="score">
                                <span>
                                    @if (subItem.Team1Score == null)
                                    {<i>__</i>}
                                    else
                                    {  @subItem.Team1Score} :@if (@subItem.Team2Score == null)
                                    {<i>&nbsp; __</i> }
                                    else
                                    {  @subItem.Team2Score}
                                </span>
                            </span>
                            <span class="team1"><span>@takim2.TeamName</span><span><img src="@takim2.LogoImageURL" alt="@takim2.TeamName"></span></span>
                        </span>
                    </a>

                }
                    
                </div>
            </div>
     <div class="col-md-2"></div>
     
}
        </div>
    </div>
</div>

