﻿
@{
    ViewBag.Title = "GamerAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("GamerAdd", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <style type="text/css">
        .deneme {
            z-index: -1;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(http://dailyhdwallpaper.com/wp-content/uploads/The-Elder-Scrolls-Online-Game-Wallpaper-1440x900.jpg);
            background-size: 100% auto;
        }
    </style>
    <div class="deneme">
    </div>
    <section class="contacts-wrap">
        <div class="container">
            <div class="row opacity" style="margin:15%; padding-bottom:50px">               
                
                <div class="col-md-12">
                    <h4 style="color:white">Yeni Oyuncu Ekle</h4><br>
                </div>
                <div class="col-md-6" style="color:white">
                    <input type="text" placeholder="Oyuncu Mail Adresi:" name="OyuncuMail" />
                </div>
                <div class="col-md-6">
                    <input type="submit" value="İstek Gönder" class="btn btn-primary" />
                </div>
               
                <div class="col-md-12" style="color:white"><br /><p>NOT: Sadece aynı üniversitedeki kişiler takım olabilir.</p></div>
            </div>
           
        </div>
    </section>
}