﻿@model Kampus.DAL.TeamAdvertisements
@{
    ViewBag.Title = "GamerAdSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Content/landing/img/arif/mm.jpg);
        background-size: 100% auto;
    }
</style>
<div class="deneme">
</div>
<section class="contacts-wrap">
    <div class="container">
               <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 opacity" style="color:white; border-radius: 10px 10px;">
                    <h4 style="color:white">Oyuncu Bİlgİlerİ</h4>
                    <div class="leave-comment-wrap">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Oyuncu Adı:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.Users.UserName</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Nick:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.NickName</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Oyun Adı:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.Games.GameName</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Nick:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.NickName</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">İstediği Turnuvalar:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.Tournament1</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.Tournament2</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.Tournament3</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">LOL Ligi:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.LolLeague</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Rütbe:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.UserRank</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Stream Profili:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.StreamProfile</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Discord Adresi:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.DiscordURL</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Açıklama:</span>
                                            <span style="color:white; font-size:18px; font-weight:600">@Model.Description</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="color:white; font-size:18px">
                                    <a href="@Url.Action("UniversityDetail","Home",new {id=Model.Users.UniversityId})" class="comment-submit">Geri</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
    </div>
</section>






