﻿@model Kampus.DAL.GamerAdvertisements
@{
    
    ViewBag.Title = "GamerAdvertisementAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Content/landing/img/arif/mmmm.jpg);
        background-size: 100% auto;
    }
</style>
<div class="deneme">
</div>
<section class="contacts-wrap">
    <div class="container">
        @using (Html.BeginForm("GamerAdvertisementAdd", "Home", FormMethod.Post))
        {
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 opacity" style="color:white; border-radius: 10px 10px;">
                <h4 style="color:white">Oyuncu Arıyorum</h4>
                <div class="leave-comment-wrap">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span style="color:white; font-size:18px">Takım Adı: <a>*</a></span>
                                        @Html.DropDownList("teamId", new SelectList(ViewBag.TeamList, "Teams.TeamId", "Teams.TeamName"), new { @class = "form-control", @style = "height:35px", @id = "takimlar", @onchange = "oyunuGetir()" })
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span style="color:white; font-size:18px">Oyun Adı: <a>*</a></span>
                                        @Html.DropDownList("gameId", new SelectList(ViewBag.GamesList, "GameId", "GameName"), new { @class = "form-control", @style="height:35px", @id="oyunlar" })
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span style="color:white; font-size:18px">Discord Adresiniz: <a>*</a></span>
                                        <input type="text" name="DiscordAdress" id="gamerExperience" class="form-control" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span style="color:white; font-size:18px">Aradığınız Tecrübe: <a>*</a></span>
                                        <input type="text" name="gamerExperience" id="gamerExperience" class="form-control" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span style="color:white; font-size:18px">Oyundaki Rolü: <a>*</a></span>
                                        <input type="text" name="gamerRole" id="gamerRole" class="form-control" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span style="color:white; font-size:18px">Açıklama: <a>*</a></span>
                                        <input type="text" name="gamerDescription" id="gamerDescription" class="form-control" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12" style="color:white; font-size:18px">
                                <input type="submit" class="comment-submit" value="Yayınla">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        }
    </div>
</section>


<script type="text/javascript">
    function oyunuGetir() {
        var foo = $("#takimlar option:selected").val();
        var oyun = document.getElementById("#oyunlar");
        $("#oyunlar").empty();
        $.ajax({
            url: '/Home/TakiminOyunu/' + foo,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $("<option>" + data + "</option>").appendTo($("#oyunlar"));
            }
        });
    };
</script>



