﻿@model Kampus.DAL.Games
@{
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
    ViewBag.Title = "Games";
    Layout = "/Views/Shared/_Layout.cshtml";
    var teams = db.TeamsToGames.Where(x => x.GameId == Model.GameId).ToList();
    var matches= db.Matches.Where(x => x.IsActive == true).Where(c => c.Games.GameId == Model.GameId);
    var blog = ViewBag.Blogs;
    bool universiteYok = true;
    if (Session["KullaniciId"]!=null)
    {
        int userId = Convert.ToInt32(Session["KullaniciId"].ToString());
        var br = db.Users.FirstOrDefault(x=>x.UserId==userId);
        if (br.UniversityId==null)
        {
            universiteYok = false;
        }
    }

}
<style type="text/css">
    .deneme {
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://images5.alphacoders.com/605/thumb-1920-605992.png");
        background-size: 100% auto;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link href="/Content/landing/css/style.min.css" rel="stylesheet" type="text/css" />

<div id="home" class="landing-sport-main-slider">
    <div class="msp_post_slider deneme" id="amateurs-slider" style="background-image:url(@Model.GameBackground)">
        <div class="owl-carousel owl-theme" role="listbox">
            <div class="item msp_post_slide slide-1">
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">

                                <div class="big-title" style="color:white; font-size:45px">
                                    @Model.GameName &nbsp; <span>OYNAMAYA HAZIR MISIN?</span>
                                </div><br />
                                @if (universiteYok)
                                {
                                    <a href="@Url.Action("Team","Home", new {id=Model.GameId })" class="btn" style="color:white">
                                        TAKIM BAŞVURUSU
                                    </a>
                                    <a href="@Url.Action("Single","Home", new{id=@Model.GameId})" class="btn" style="color:white">
                                        BİREYSEL BAŞVURU
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="btn" style="color:white" data-toggle="modal" data-target="#UniversiteYok">
                                        TAKIM BAŞVURUSU
                                    </a>
                                    <a href="#" class="btn" style="color:white" data-toggle="modal" data-target="#UniversiteYok">
                                        BİREYSEL BAŞVURU
                                    </a>
                                }

                            </div>
                        
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="item msp_post_slide slide-2">
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">

                                <div class="big-title" style="color:white; font-size:45px">
                                    Bu turnuvada neler kazanacaksın
                                </div><br />
                                <a href="#prizes" class="btn" style="color:white">
                                    ÖDÜLLER
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls
        <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a> -->
        <div class="progress-line" style="display:none"><div class="bar"></div></div>
    </div>
</div>

<div class="championship-wrap">
    <div class="champ-navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="champ-nav-list">
                        <li class="active"><a href="#prizes">Ödüller</a></li>
                        <li><a href="#rules">Oyun Kuralları</a></li>
                        <li><a href="#teams">Takımlar</a></li>
                        <li><a href="#matches">Maçlar</a></li>
                        <li><a href="#news">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="champ-tab-wrap tab-content" style="margin-top: 10px; margin-bottom:25px">
        <!--TAKIMLAR -->
        <div class="tab-item part-wrap tab-pane" id="teams">
            <div class="part-list">
                <div class="container">
                    <div class="row">
                        @if (teams.Count() > 0)
                        {
                            foreach (var item in teams)
                            {
                                <div class="col-md-3">
                                    <input type="hidden" value="@item.Teams.TeamId" id="takimId" />
                                    <a href="#" class="item" id="OyuncuGetir" onclick="getirOyuncu(@item.Teams.TeamId)">
                                        <span class="logo"><img src="@item.Teams.LogoImageURL" width="80" height="80" alt="@item.Teams.TeamName"></span>
                                        <span class="name">@item.Teams.TeamName</span>
                                        <!-- <input type="submit" id="OyuncuGetir" value="Getir" />-->
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <a href="#" class="item">

                                <h4 style="font-family:Verdana"><span>  HENÜZ TAKIM YOKTUR. <br /></span></h4>
                            </a>
                        }

                    </div>
                </div>
            </div>
            <div id="teamList" class="landing-sport-players-slider">
                <div class="container">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Takım Üyelerİ</h5>
                            <ul class="tab-filters" role="tablist">
                                <li class="active">
                                    <a href="#defenders" role="tab" data-toggle="tab">
                                        Oyuncular
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="defenders" role="tabpanel">
                        <div id="managers_carousel" class="carousel slide main-stuff-slider" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div id="Oyuncular"></div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="nav-arrow left-arrow" href="#managers_carousel" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    <span class="sr-only"></span>
                                </a>
                                <a class="nav-arrow right-arrow" href="#managers_carousel" role="button" data-slide="next">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    <span class="sr-only"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--KURALLAR -->
        <div class="tab-item match-wrap tab-pane" id="rules">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Raw(Model.GameRules)
                    </div>
                </div>
            </div>
        </div>
        <!--ÖDÜLLER -->
        <div class="tab-item part-wrap tab-pane active" id="prizes">
            <div class="part-list">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="item">
                                <span class="name">Birincilik Ödülü:&nbsp; @Model.FirstPrize</span>
                            </a>
                        </div>
                        @if (Model.SecondPrize != null)
                        {
                            <div class="col-md-4">
                                <a href="#" class="item">
                                    <span class="name">İkincilik Ödülü:&nbsp; @Model.SecondPrize</span>
                                </a>
                            </div>
                        }
                        @if (Model.ThirdPrize != null)
                        {
                            <div class="col-md-4">
                                <a href="#" class="item">
                                    <span class="name">Üçüncülük Ödülü:&nbsp; @Model.ThirdPrize</span>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <!--MAÇLAR-->
        <div class="tab-item match-wrap tab-pane" id="matches">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="main-lates-matches">
                           
                            @if (matches.Count()>0)
                            {
                                foreach (var item in matches)
                                {
                                    var takim1 = db.Teams.FirstOrDefault(x=>x.TeamId==item.Team1Id);
                                    var takim2 = db.Teams.FirstOrDefault(x => x.TeamId == item.Team2Id);
                                    <a href="#" class="item">
                                        <span class="championship">@item.WhatAbout </span>
                                        <span class="teams-wrap">
                                            <span class="team"><span><img src="@takim1.LogoImageURL" alt="@takim1.TeamName"></span><span>@takim1.TeamName</span></span>
                                            <span class="score"><span>@if (@item.Team1Score == null)
                                            {<i>__</i>}
                                            else
                                            {  @item.Team1Score} :@if (@item.Team2Score == null) {<i>&nbsp; __</i> } else {  @item.Team2Score}</span></span>
                                            <span class="team1"><span>@takim2.TeamName</span><span><img src="@takim2.LogoImageURL" alt="@takim2.TeamName"></span></span>
                                        </span>
                                    </a>
                                }
                            }
                            else
                            {
                                <a href="#" class="item">
                                    
                                    <h4 style="font-family:Verdana"><span>  HENÜZ MAÇ EKLENMEMİŞTİR. <br /></span></h4>
                                </a>
                            }



                        </div><br /><br />
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <!--BLOG -->
        <div class="tab-item news-tab tab-pane" id="news">
            <div class="news-list">
                <div class="container">
                    <div class="row">
                        @foreach (var item in blog)
                        {
                            string[] bugun = DateTime.Now.ToString().Split(' ');
                            string[] tarih = item.CreatedDate.ToString().Split(' ');
                            <div class="col-md-6">
                                <div class="item img-top">
                                    <div class="img-wrap">

                                        @if (tarih[0] == bugun[0])
                                        {
                                            <div class="bage highlight"> Yeni </div>
                                        }


                                        <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})"><img src="@item.BlogImageURL" alt="@item.BlogTitle"></a>
                                    </div>
                                    <div class="info">
                                        <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})" class="name">@item.BlogTitle</a>
                                        <div class="wrap">
                                            <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})">@tarih[0]</a> &nbsp; Yazar: <a href="@Url.Action("BlogDetail","Home",new {id=item.BlogId})">@item.WriterId</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<!--MAIN SPONSOR SLIDER BEGIN-->

<!--MAIN SPONSOR SLIDER END-->

<div class="modal fade" id="UniversiteYok" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:150%;">
            <div class="modal-header">
                <h5 class="modal-title">BİLGİ</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
               
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>Önce profil sayfanızdan üniversite seçmelisiniz!</p>
                    </div>
                </div><br />
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inline btn-info pull-right" style="width:auto;" data-dismiss="modal">Tamam</button>
               
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Scripts/others/js/library/jquery.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/jquery-ui.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/bootstrap.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/jquery.sticky.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/jcarousel.connected-carousels.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/owl.carousel.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/progressbar.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/jquery.bracket.min.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/chartist.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/Chart.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/fancySelect.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/isotope.pkgd.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="/Scripts/others/js/jquery.team-coundown.js"></script>
<script type="text/javascript" src="/Scripts/others/js/matches-slider.js"></script>
<script type="text/javascript" src="/Scripts/others/js/header.js"></script>
<script type="text/javascript" src="/Scripts/others/js/matches_broadcast_listing.js"></script>
<script type="text/javascript" src="/Scripts/others/js/news-line.js"></script>
<script type="text/javascript" src="/Scripts/others/js/match_galery.js"></script>
<script type="text/javascript" src="/Scripts/others/js/main-club-gallery.js"></script>
<script type="text/javascript" src="/Scripts/others/js/product-slider.js"></script>
<script type="text/javascript" src="/Scripts/others/js/circle-bar.js"></script>
<script type="text/javascript" src="/Scripts/others/js/standings.js"></script>
<script type="text/javascript" src="/Scripts/others/js/shop-price-filter.js"></script>
<script type="text/javascript" src="/Scripts/others/js/timeseries.js"></script>
<script type="text/javascript" src="/Scripts/others/js/radar.js"></script>
<script type="text/javascript" src="/Scripts/others/js/slider.js"></script>
<script type="text/javascript" src="/Scripts/others/js/preloader.js"></script>
<script type="text/javascript" src="/Scripts/others/js/diagram.js"></script>
<script type="text/javascript" src="/Scripts/others/js/bi-polar-diagram.js"></script>
<script type="text/javascript" src="/Scripts/others/js/label-placement-diagram.js"></script>
<script type="text/javascript" src="/Scripts/others/js/donut-chart.js"></script>
<script type="text/javascript" src="/Scripts/others/js/animate-donut.js"></script>
<script type="text/javascript" src="/Scripts/others/js/advanced-smil.js"></script>
<script type="text/javascript" src="/Scripts/others/js/svg-path.js"></script>
<script type="text/javascript" src="/Scripts/others/js/pick-circle.js"></script>
<script type="text/javascript" src="/Scripts/others/js/horizontal-bar.js"></script>
<script type="text/javascript" src="/Scripts/others/js/gauge-chart.js"></script>
<script type="text/javascript" src="/Scripts/others/js/stacked-bar.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/chartist-plugin-threshold.js"></script>
<script type="text/javascript" src="/Scripts/others/js/library/chartist-plugin-pointlabels.js"></script>
<script type="text/javascript" src="/Scripts/others/js/treshold.js"></script>
<script type="text/javascript" src="/Scripts/others/js/visible.js"></script>
<script type="text/javascript" src="/Scripts/others/js/anchor.js"></script>
<script type="text/javascript" src="/Scripts/others/js/landing_carousel.js"></script>
<script type="text/javascript" src="/Scripts/others/js/landing_sport_standings.js"></script>
<script type="text/javascript" src="/Scripts/others/js/twitterslider.js"></script>
<script type="text/javascript" src="/Scripts/others/js/champions.js"></script>
<script type="text/javascript" src="/Scripts/others/js/landing_mainnews_slider.js"></script>
<script type="text/javascript" src="/Scripts/others/js/carousel.js"></script>
<script type="text/javascript" src="/Scripts/others/js/video_slider.js"></script>
<script type="text/javascript" src="/Scripts/others/js/footer_slides.js"></script>
<script type="text/javascript" src="/Scripts/others/js/player_test.js"></script>
<script type="text/javascript" src="/Scripts/others/js/main.js"></script>

<!-- Contact Form JavaScript File -->
<script src="/Scripts/landing/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/Scripts/landing/js/main.js"></script>
<!--
<script type="text/javascript">
    $(document).ready(function () {


        $("#OyuncuGetir").click(function () {
            var ID = $("#takimId").val();
            $.ajax({
                url: '/Home/OyuncuyuGetir/'+ID,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#Oyuncular").append(
                            "<div class='col-sm-4'>"+
                                   " <div class='staff-item'>"+
                                       " <a href='#'>"+
                                            "<span class='info'>"+
                                              "  <span class='name'>"+item.UserName +"</span>"+
                                               " <span class='position'>"+item.role +"</span>"+
                                               " <span class='number'>"+item.UserId +"</span>"+
                                            "</span>"+
                                            "<img src="+"'"+item.UserPhotoURL +"'"+"alt='person-slider'>"+
                                        "</a>"+
                                   " </div>"+
                                "</div>");
                    });
                }
            });
        });
    });
</script>
-->
<script type="text/javascript">
    function getirOyuncu(id){
        var ID = id;
        $( "#Oyuncular" ).empty();
        $.ajax({
            url: '/Home/OyuncuyuGetir/' + ID,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Oyuncular").append(
                        "<div class='col-sm-"+item.MatchId+"'>" +
                               " <div class='staff-item'>" +
                                   " <a href='#'>" +
                                        "<span class='info'>" +
                                          "  <span class='name'>" + item.UserName + "</span>" +
                                           " <span class='position'>" + item.role + "</span>" +
                                           " <span class='number'>" + item.UserId + "</span>" +
                                        "</span>" +
                                        "<img src=" + "'" + item.UserPhotoURL + "'" + "alt='person-slider'>" +
                                    "</a>" +
                               " </div>" +
                            "</div>");
                });
            }
        });
        $("html, body").animate({ scrollTop: 1000 }, "slow");
    }
</script>


