﻿@model Kampus.DAL.Users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="contacts-wrap" style="background-image: url(/Content/landing/img/arif/loginwp.jpg); background-size:cover; position:absolute;bottom:0;left:0;right:0;top:0;">
        <div class="container">
           
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 opacity">
                    <h4 style="color:white">GİRİŞ YAP</h4>
                    <div class="leave-comment-wrap">
                        <form>
                            <div class="row ">
                                @if (ViewBag.Hata)
                                {
                                    <div class="col-md-12" style="color:white">
                                        <p>@ViewBag.Mesaj</p>
                                    </div>
                                }
                                <div class="col-md-6"><br />
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Email<a> *</a></span>
                                            @Html.Editor("email", new { htmlAttributes = new { @class = "form-control", @style = "width:90%" } })
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6"><br />
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Parola<a> *</a></span>
                                            @Html.Editor("password", new { htmlAttributes = new { @class = "form-control", @style = "width:90%", @type = "password" } })
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-12" style="color:white; font-size:18px">
                                    <button class="comment-submit">GİRİŞ YAP</button>
                                </div>
                                <div class="col-md-12" style="color:white; font-size:18px"><br />
                                    <a href="@Url.Action("Register","Home")" style="color:orange; font-weight:800;font-size:16px">Üye değil misiniz? <u>Kayıt Ol</u></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
}


