﻿@model Kampus.DAL.TeamAdvertisements
@{
    ViewBag.Title = "TeamAdvertisementAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Content/landing/img/arif/mm.jpg);
        background-size: 100% auto;
    }
</style>
<div class="deneme">
</div>
<section class="contacts-wrap">
    <div class="container">
        @using (Html.BeginForm("TeamAdvertisementAdd", "Home", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 opacity" style="color:white; border-radius: 10px 10px;">
                    <h4 style="color:white">Takım Arıyorum</h4>
                    <div class="leave-comment-wrap">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Oyun Adı: <a>*</a></span>
                                            @Html.DropDownList("gameId", new SelectList(ViewBag.GamesList, "GameId", "GameName"), new { @class = "form-control", @style = "height:35px" ,@id="oyunID",@onchange="ShowHideDiv()"})
                                        </label>
                                    </div>
                                </div>
                               
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Stream Profiliniz:</span>
                                            <input type="text" name="streamProfili" id="streamProfili" class="form-control" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px" id="nick">Nick: <a>*</a></span>
                                            <span style="color:white; font-size:18px" id="sihirdar">Sihirdar Adı: <a>*</a></span>
                                            <input type="text" name="nick" id="nick" class="form-control" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Discord Adresiniz: <a>*</a></span>
                                            <input type="text" name="dicord" id="dicord" class="form-control" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">İstediğiniz Turnuvalar:</span>
                                            <input type="text" name="turnuva1" id="turnuva1" class="form-control" placeholder="Örnek Turnuva 1" /><br />
                                            <input type="text" name="turnuva2" id="turnuva2" class="form-control" placeholder="Örnek Turnuva 2" /><br />
                                            <input type="text" name="turnuva3" id="turnuva3" class="form-control" placeholder="Örnek Turnuva 3" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Açıklama: </span>
                                            <textarea name="Description" id="Description" class="form-control" style="height:150px;"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6" id="lolDiv">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">LOL Liginiz: <a>*</a></span>
                                            <input type="text" name="LolLigi" id="LolLigi" class="form-control" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6" id="rankDiv">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Rütbeniz:<a>*</a> </span>
                                            <input type="text" name="rutbe" id="rutbe" class="form-control" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Oyundaki Rolünüz: <a>*</a></span>
                                            <input type="text" name="gamerRole" id="gamerRole" class="form-control" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="color:white; font-size:18px">
                                    <input type="submit" class="comment-submit" value="Yayınla">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        }
    </div>
</section>





<script type="text/javascript">
    var lolDiv = document.getElementById("lolDiv");
    var sihirdar = document.getElementById("sihirdar");
    lolDiv.style.display = "none";
    sihirdar.style.display = "none";
    function ShowHideDiv() {
        var foo = $("#oyunID option:selected").text();
        var lolDiv = document.getElementById("lolDiv");
        var rankDiv = document.getElementById("rankDiv");
        var sihirdar = document.getElementById("sihirdar");
        var nick = document.getElementById("nick");
            if (foo == "League of Legends") {
                lolDiv.style.display = "block";
                rankDiv.style.display = "none";
                sihirdar.style.display = "block";
                nick.style.display = "none";
            }
            else if (foo == "CS GO") {
                lolDiv.style.display = "none";
                rankDiv.style.display = "block";
                sihirdar.style.display = "none";
                nick.style.display = "block";
            }
            else {
                sihirdar.style.display = "none";
                nick.style.display = "block";
                lolDiv.style.display = "none";
                rankDiv.style.display = "none";
            }
        };

</script>