﻿@model Kampus.DAL.Teams
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Team", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <section class="contacts-wrap" style="background-image: url(@ViewBag.Arkaplan); background-size:cover; position:absolute;bottom:0;left:0;right:0;top:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 opacity" style="color:white">
                    
                    <h4 style="color:white">Takım Başvurusu</h4>
                    <div class="leave-comment-wrap">
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Takım Adı <a>*</a></span>
                                            @Html.EditorFor(x => x.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Takım Logosu<a> *</a></span>
                                            <input type="file" name="TeamLogo" id="TeamLogo" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px;padding-bottom:13px">Takımınızdaki Kişi Sayısı</span>
                                            @Html.EditorFor(x => x.TeamCount, new { htmlAttributes = new { @class = "form-control" } })
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Üniversite</span>
                                        </label>
                                        <select name="uni" id="uni" value="3" disabled="disabled" class="form-control" style ="height:35px">
                                            <option selected="selected">@ViewBag.Universite</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Oyun</span>
                                        </label>
                                        <select name="oyun" id="oyun" value="3" disabled="disabled" class="form-control" style="height:35px">
                                            <option selected="selected">@ViewBag.Game</option>
                                        </select>
                                    </div>
                                </div>

                                <button class="comment-submit">Katıl</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </section>
}


