﻿@model Kampus.DAL.Universities
@{
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
    var teams = db.Teams.Where(x => x.UniversityId == Model.UniversityId).Where(x => x.IsActive == true).ToList();
    var gamersWhoWishTeam = ViewBag.usersWhoWishTeam;
    var teamsWhoWishGamer = ViewBag.teamsWhoWishGamer;
    ViewBag.Title = "UniversityDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style type="text/css">
    .deneme {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Content/landing/img/arif/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<div class="deneme"></div>
<section class="news-single" style="margin-top: 90px">
    <div class="item">
        <div class="post-text">
            <blockquote>
                <p><img src="@Model.UniversityLogoURL" width="80" height="80" alt="@Model.UniversityName"> @Model.UniversityName</p>
                <div style="margin-right:10px; right:10px; position:absolute">
                    @if (ViewBag.KullaniciID != null)
                    {
                        <a href="@Url.Action("TeamAdvertisementAdd","Home")" class="item"> Takım Arıyorum </a>
                        <span>&nbsp; / &nbsp;</span>
                        <a href="@Url.Action("GamerAdvertisementAdd","Home")" class="item"> Oyuncu Arıyorum </a>
                    }
                </div>
            </blockquote>
        </div>
    </div>
</section>
<div class="championship-wrap">
    <div class="champ-navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="champ-nav-list">
                        <li class="active"><a href="#teams">Takımlar</a></li>
                        <li><a href="#team">Takım Arayanlar</a></li>
                        <li><a href="#gamer">Oyuncu Arayanlar</a></li>
                        <li><a href="#chats">Sohbetler</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="champ-tab-wrap tab-content" style="margin-top: 10px;">
        <!--TAKIMLAR BEGIN -->
        <div class="tab-item part-wrap tab-pane active" id="teams">
            <div class="part-list">
                <div class="container">
                    <div class="row">
                        @if (teams.Count() > 0)
                        {
                            foreach (var item in teams)
                            {
                            <div class="col-md-3">
                                <a href="@Url.Action("TeamPage","Home", new {id=item.TeamId })" class="item">
                                    <span class="logo"><img src="@item.LogoImageURL" width="80" height="80" alt="@item.TeamName"></span>
                                    <span>@item.TeamName</span>
                                </a>
                            </div>
                            }
                        }
                        else
                        {
                            <a href="#" class="item">

                                <h4 style="font-family:Verdana"><span>  HENÜZ TAKIM YOKTUR. <br /></span></h4>
                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>
        <!--TAKIMLAR END -->

        <div class="tab-item part-wrap tab-pane" id="team">
            <div class="part-list">
                <div class="container">
                    <div class="row">
                        @foreach (var item in gamersWhoWishTeam)
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("GamerAdSingle","Home",new {id=item.TeamAd_Id })" class="item">
                                    <span class="logo"><img src="~/Content/landing/img/arif/players.png" width="80" height="80" alt="@item.Users.UserName"></span>
                                    <span>@item.Users.UserName</span><br />
                                    <b style="color:black">@item.Games.GameName</b> <br />
                                    <i style="color:black">Oyundaki Rol: @item.RoleInGame</i>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>


        <div class="tab-item part-wrap tab-pane" id="gamer">
            <div class="part-list">
                <div class="container">
                    <div class="row">
                        @foreach (var item in teamsWhoWishGamer)
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("TeamAdSingle","Home",new {id=item.GamerAd_Id })" class="item">
                                    <span class="logo"><img src="@item.Teams.LogoImageURL" width="80" height="80" alt="@item.Teams.TeamName"></span>
                                    <span>@item.Teams.TeamName</span><br />
                                    <b style="color:black">@item.Games.GameName</b><br />
                                    <i style="color:black">Aranan Rol: @item.RoleInGame</i><br />
                                    <i style="color:black">Aranan Deneyim: @item.GamerAdExprerience</i>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-item part-wrap tab-pane" id="chats">
            <div class="part-list">
                <div class="container">
                    <div class="row">
                        <div class="comments-wrap" style="width:100%">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="background:RGBA(200,200,200,0.5);border-radius:10px 10px">
                                <br />
                                <p style="text-align:center; font-size:xx-large; font-weight:900;color:black">SOHBETLER</p><br />

                                @foreach (var item in db.UniPosts.Where(x => x.UniversityId == Model.UniversityId).Where(x => x.IsActive == true).Where(x => x.PrePostId == null).OrderByDescending(x => x.CreatedDate).ToList())
                                {
                                    string[] tarih = item.CreatedDate.ToString().Split(':');
                                    string trh = (tarih[0] + ":" + @tarih[1]).Trim();
                                    <br />
                                    string user = db.Users.FirstOrDefault(a => a.UserId == item.UserId).UserName.ToString();
                                    <div class="comment-item" style="margin-left:5%; margin-right:5%;background-color:lightgrey;border-radius: 10px 10px;">
                                        <div class="avatar"><img src="~/Content/landing/img/arif/players.png" alt="author-avatar"></div>
                                        <div class="info">
                                            <div class="date">
                                                <a href="#" style="font-weight:600">@user</a> &nbsp; <a href="#" style="font-style:italic">@trh</a>

                                            </div>
                                            <p>@item.PostContent</p>
                                        </div>
                                    </div>
                                    var pre = db.UniPosts.FirstOrDefault(x => x.PrePostId == item.PostId);
                                    if (pre != null)
                                    {
                                        foreach (var subitem in db.UniPosts.Where(x => x.UniversityId == Model.UniversityId).Where(x => x.IsActive == true).Where(x => x.PrePostId == item.PostId).OrderByDescending(x => x.CreatedDate).ToList())
                                        {
                                            string[] subTarih = subitem.CreatedDate.ToString().Split(':');
                                            string subTrh = (subTarih[0] + ":" + @subTarih[1]).Trim();
                                            string subUser = db.Users.FirstOrDefault(a => a.UserId == subitem.UserId).UserName.ToString();
                                            <div class="comment-item answer" style="margin-left:5%;margin-right:5%">
                                                <div class="avatar"><img src="~/Content/landing/img/arif/players.png" alt="author-avatar"></div>
                                                <div class="info">
                                                    <div class="date">
                                                        <a href="#" style="font-weight:600">@subUser</a> &nbsp; <a href="#" style="font-style:italic">@subTrh</a>

                                                    </div>
                                                    <p style="color:black">@subitem.PostContent</p>
                                                </div>
                                            </div><br />
                                        }
                                    }

                                    if (true)
                                    {
                                        using (Html.BeginForm("UniSubPostAdd", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                        {
                                            <div class="comment-item answer" style="margin-left:5%;" id="GonderiYorumu">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <input type="text" name="subPostContent" id="subPostContent" class="form-control" placeholder="Yorumunuz..." />
                                                                <input id="postID" name="postID" type="hidden" value="@item.PostId">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="submit" id="btnAltYorumEkle" value="Yorum yap" class="form-control" />
                                                        </div>
                                                        <div class="col-md-1">

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        }
                                    }

                                }

                                @using (Html.BeginForm("UniPostAdd", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="leave-comment-wrap">
                                        <p style="text-align:center; font-size:large; font-weight:700;color:black">SOHBETE KATIL</p><br />
                                        <form>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-8">
                                                    <div style="width:100%">
                                                        <label>
                                                            <textarea name="postContent" placeholder="Ne Düşünüyorsun?" style="width:450px"></textarea>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="submit" value="Gönder" class="comment-submit">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }
                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/team/lib/jquery/jquery.min.js"></script>
<script src="~/Content/team/lib/jquery/jquery-migrate.min.js"></script>
<script src="~/Content/team/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/team/lib/easing/easing.min.js"></script>
<script src="~/Content/team/lib/wow/wow.min.js"></script>
<script src="~/Content/team/lib/superfish/hoverIntent.js"></script>
<script src="~/Content/team/lib/superfish/superfish.min.js"></script>
<script src="~/Content/team/lib/magnific-popup/magnific-popup.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<script type="text/javascript" src="~/Content/team/js/library/jquery.js"></script>
<script type="text/javascript" src="~/Content/team/js/library/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/team/js/preloader.js"></script>
<script type="text/javascript" src="~/Content/team/js/main.js"></script>

<!-- DİĞER JAVASCRİPLER -->
<script type="text/javascript" src="~/Content/team/js/library/chartist.js"></script>
<script type="text/javascript" src="~/Content/team/js/library/Chart.js"></script>
<script type="text/javascript" src="~/Content/team/js/preloader.js"></script>
<!-- Contact Form JavaScript File -->
<link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">

<script src="~/Scripts/js/bootbox.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            // $('#GonderiYorumu').hide();

            $('a#GonderiYorumuGoster').click(function () {
                $('#GonderiYorumu').toggle(400);
            });
        });
</script>

@*
    <script type="text/javascript">

        $(document).on("click", "#btnAltYorumEkle", function () {
            var degerler = {
                anaGonderiID: $("#postID").val(),
                AltYorum: $("#subPostContent").val()
            };

            $.ajax({
                type: 'POST',
                url: '/Home/UniSubPostAdd',
                data: JSON.stringify(degerler),
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (gelenDeg) {
                    alert("Makale Başarıyla Eklendi!");
                },
                error: function () {
                    alert("Makale Eklenirken Hata Oluştu!");
                }
            });
        });
    </script>
*@
