﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Avilon Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/Content/landing/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/Content/landing/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Content/landing/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/landing/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/Content/landing/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/Content/landing/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Avilon
      Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    <div> 
        <header id="header">
            <div class="container">

                <div id="logo" class="pull-left">
                    <h1><a href="@Url.Action("Index","Home")" class="scrollto">Ekampüs</a></h1>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="active"><a href="@Url.Action("Index","Home")"><span><strong>ANASAYFA</strong></span></a></li>
                        <li class="menu-has-children">
                            <a href="#"><span><strong>OYUNLAR</strong></span></a>
                            <ul>
                                <li class="menu-has-children">
                                    <a href="#"><span>MASA ÜSTÜ OYUNLAR</span></a>
                                    <ul>
                                     
                                            <li><a href="@Url.Action("Games","Home")"><span>CS</span></a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-has-children">
                                    <a href="#"><span>MOBİL OYUNLAR</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("Games","Home")"><span>CS</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-has-children">
                            <a href="#"><span><strong>TURNUVA</strong></span></a>
                            <ul>
                                <li><a href="#"><span>FİKSTÜR</span></a></li>
                                <li><a href="#"><span>AKTİF OYUNLAR</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#advanced-features"><span><strong>BAŞVUR</strong></span></a>

                        </li>
                        <li><a href="#clients"><span><strong>LİSE TURNUVALARI</strong></span></a></li>
                        <li><a href="@Url.Action("Blogs","Home")"><span><strong>HABERLER</strong></span></a></li>
                        <li><a href="#iletisim"><span><strong>İLETİŞİM</strong></span></a></li>
                        <li><a href="@Url.Action("Login","Home")"><i class="fa fa-sign-in" style="font-size:24px;color:orange"></i></a></li>

                    </ul>
                </nav>
            </div>
        </header>
        @RenderBody()
        
    </div>

    <script src="/Content/landing/lib/jquery/jquery.min.js"></script>
    <script src="/Content/landing/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/Content/landing/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/landing/lib/easing/easing.min.js"></script>
    <script src="/Content/landing/lib/wow/wow.min.js"></script>
    <script src="/Content/landing/lib/superfish/hoverIntent.js"></script>
    <script src="/Content/landing/lib/superfish/superfish.min.js"></script>
    <script src="/Content/landing/lib/magnific-popup/magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="/Scripts/landing/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/Scripts/landing/js/main.js"></script>
</body>
</html>
