﻿@model Kampus.DAL.Users
@{
    ViewBag.Title = "GamerDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
    var Oyunlar = db.UsersToGames.Where(x => x.UserId == Model.UserId).ToList();
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Oyuncu Detayı
            </div>
            <div>
                <br />
                <table style="margin-left:35%; font-size:medium;">
                    <tr>
                        <td>
                            @Html.DisplayName("Ad-Soyad:")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UserName)
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayName("Nick Name:") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>@Html.DisplayFor(model => model.NickName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("E-Posta:")</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Doğum Tarihi:")</td>
                        <td>@Html.DisplayFor(model => model.BirthDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Kayıt Tarihi:")</td>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Kullanıcı Hakkında:")</td>
                        <td>@Html.DisplayFor(model => model.UserAbout)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Takımlar:")</td>
                        <td>@Html.DisplayFor(model => model.TeamId)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Oyunlar:")</td>
                        <td><table>

                         @foreach (var item in Oyunlar)
                         {
                             <tr><td>
                                 @item.Games.GameName
                                  
                                 </td></tr>
                             
                         }
                        </table>

                       </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Kazanma:")</td>
                        <td>@Html.DisplayFor(model => model.Wins)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Beraberlik:")</td>
                        <td>@Html.DisplayFor(model => model.Ties)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Kaybetme:")</td>
                        <td>@Html.DisplayFor(model => model.Loses)</td>
                    </tr>

                    <tr>

                    <tr>

                        <td colspan="2"><br /><br />@Html.ActionLink("Listeye Dön", "Gamers")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

