﻿@model Kampus.DAL.Games
@{
    ViewBag.Title = "GameAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("GameAdd", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="wrapper">
        <div class="form-w3layouts">
            <!-- page start-->
            <!-- page start-->
            <div class="row">
                <h3 style="text-align:center">OYUNLAR</h3>

                <h5 style="text-align:center">Yeni Oyun Ekle</h5>
                <div class="form-horizontal">
                    <p style="text-align:center"> @ViewBag.BosVeri</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Oyun Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.GameName, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(x => x.GameName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Oyun Logosu", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="GameImage" />Lütfen Bir Resim Yükleyeniz.
                            @Html.ValidationMessageFor(x => x.GameLogoURL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Oyun Açıklaması", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.GameDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.GameDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Kategori", "Oyun Kategorisi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @* @Html.RadioButtonFor(x => x.Role, "Müdür") <span>Müdür</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*@
                            @Html.RadioButtonFor(x=>x.GameCategory, "Mobil")   <span>Mobil</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            @Html.RadioButtonFor(x => x.GameCategory, "Masaüstü")   <span>Masaüstü</span>
                          
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Oyun Kuralları", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(x=>x.GameRules, new { @id = "editor1" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Birincilik Ödülü", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.FirstPrize, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(x => x.FirstPrize, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("İkincilik Ödülü", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.SecondPrize, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.SecondPrize, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Üçüncülük Ödülü", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.ThirdPrize, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(x => x.ThirdPrize, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Oluştur" class="btn btn-success" />
                        </div>
                    </div>


                </div>
            </div>

            <!-- page end-->
        </div>
    </section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var editor = CKEDITOR.instances['editor1'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('editor1', {
        enterMode: CKEDITOR.ENTER_BR,
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');
</script>
