﻿@model Kampus.DAL.CalendarOfGames
@{
    ViewBag.Title = "GameCalendarAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="wrapper">
        <div class="form-w3layouts">
            <!-- page start-->
            <!-- page start-->
            <div class="row">
                <h3 style="text-align:center">OYUN TAKVİMİ</h3>

                <h5 style="text-align:center">Yeni Takvim Ekle</h5>
                <div class="form-horizontal" style="width:90%; margin-left:17%">
                    <p style="text-align:center"> @ViewBag.BosVeri</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Oyun Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.GameId, new SelectList(ViewBag.GameList, "GameId", "GameName"))
                            @Html.ValidationMessageFor(x => x.GameId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                  
                    <div class="form-group">
                        @Html.Label("Tarih 1", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Date1, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Date1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tarih 2", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Date2, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Date2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tarih 3", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Date3, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Date3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tarih 4", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Date4, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Date4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tarih 5", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Date5, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Date5, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tarih 6", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Date6, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Date6, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Oluştur" class="btn btn-success" />
                        </div>
                    </div>


                </div>
            </div>

            <!-- page end-->
        </div>
    </section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>
