﻿@model Kampus.DAL.Games
@{
    ViewBag.Title = "GameDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
               Oyun Detayı
            </div>
            <div>
                <br />
                <table style="margin-left:35%; font-size:medium;">
                    <tr>
                        <td>
                            @Html.DisplayName("Oyun Adı:")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.GameName)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Oyun Logosu:")</td>
                        <td>@Html.DisplayFor(model => model.GameLogoURL)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Oyun Açıklaması:")</td>
                        <td>@Html.DisplayFor(model => model.GameDescription)</td>
                    </tr>
                    
                    <tr>
                        <td>@Html.DisplayName("Oluşturma Tarihi:")</td>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Oyuncu Sayısı:")</td>
                        <td>@Html.DisplayFor(model => model.UserCount)</td>
                    </tr>
                  
                    <tr>

                    <tr>

                        <td colspan="2"><br /><br />@Html.ActionLink("Listeye Dön", "Users")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

