﻿@model IEnumerable<Kampus.DAL.CalendarOfGames>
@{
    ViewBag.Title = "GameCalendar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Oyun Takvimi <span style="margin-right:2%; right:2% ;position:absolute;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:small"><a href="@Url.Action("GameCalendarAdd","Admin")"><img src="~/Admin/images/addButton.png" width="32px" height="32px" title="Yeni Ekle" />&nbsp; Yeni Takvim Ekle</a></span>
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Oyun</th>
                            <th>Durum</th>
                            <th></th>
                            <!--  <th data-breakpoints="xs">Job Title</th>

                              <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-expanded="true">
                                <td>@item.CalendarOfGameId</td>
                                <td>@item.Games.GameName</td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <a href="@Url.Action("GameCalendarDurum", "Admin" ,new {id=@item.CalendarOfGameId })">  <span class="label label-success">Aktif</span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("GameCalendarDurum", "Admin" ,new {id=@item.CalendarOfGameId })">  <span class="label label-danger">Pasif</span></a>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("GameCalendarDetail","Admin", new {id=item.CalendarOfGameId })">
                                        <img src="~/Admin/images/informationIcon.png" height="32" width="32" title="Detay" />
                                    </a>
                                    <a href="@Url.Action("GameCalendarEdit","Admin", new {id=item.CalendarOfGameId })">
                                        <img src="~/Admin/images/updateButton.png" height="32" width="32" title="Güncelle" />
                                    </a>
                                    <a href="@Url.Action("GameCalendarDelete","Admin", new {id=item.CalendarOfGameId })">
                                        <img src="~/Admin/images/deleteButton.png" height="32" width="32" title="Sil" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

