﻿@model Kampus.DAL.Users

@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("UserEdit", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)
    <section class="wrapper">
        <div class="form-w3layouts">
            <!-- page start-->
            <!-- page start-->
            <div class="row">
                <h3 style="text-align:center">YÖNETİCİLER</h3>

                <h5 style="text-align:center">Yönetici Düzenle</h5>
                <div class="form-horizontal" style="width:90%; margin-left:17%">
                    <p style="text-align:center"> @ViewBag.BosVeri</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Adı Soyadı", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("E-Posta", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.NickName, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.NickName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Parola", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @style = "width:60%", @type = "password" } })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Üniversite", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.UniversityId, new SelectList(ViewBag.PageList, "UniversityId", "UniversityName"))
                            @Html.ValidationMessageFor(x => x.UniversityId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.UserAbout, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                            @Html.ValidationMessageFor(x => x.UserAbout, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Rol", "Yönetici Rolü", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @* @Html.RadioButtonFor(x => x.Role, "Müdür") <span>Müdür</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*@
                            @Html.RadioButton("Rol", "Sistem")   <span>Sistem</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            @Html.RadioButton("Rol", "Editör")   <span>Editör</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            @Html.RadioButton("Rol", "İstatistik")   <span>İstatistik</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Oluştur" class="btn btn-success" />
                        </div>
                    </div>


                </div>
            </div>

            <!-- page end-->
        </div>
    </section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>
