﻿@model Kampus.DAL.Users
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Yönetici Detayı
            </div>
            <div>
                <br />
                <table style="margin-left:35%; font-size:medium;">
                    <tr>
                        <td>
                            @Html.DisplayName("Ad-Soyad:")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UserName )
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayName("E-Posta:")</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Rol:")</td>
                        <td>
                            @{ string rol = "";
                            if (Model.Role == 1)
                            {
                                rol = "Sistem";
                            }
                            else if (Model.Role == 2)
                            {
                                rol = "Editör";
                            }
                            else if (Model.Role == 3)
                            {
                                rol = "İstatistik";
                            }
                        }

                        @rol
                    </td>

                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Doğum Tarihi:")</td>
                        <td>@Html.DisplayFor(model => model.BirthDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Kayıt Tarihi:")</td>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayName("Kullanıcı Hakkında:")</td>
                        <td>@Html.DisplayFor(model => model.UserAbout)</td>
                    </tr>
                   
                    <tr>
                      
                    <tr>

                        <td colspan="2"><br /><br />@Html.ActionLink("Listeye Dön", "Users")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

