﻿
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link href="/Content/others/css/style.min.css" rel="stylesheet" type="text/css" />

<div id="home" class="landing-sport-main-slider">
    <div class="msp_post_slider" id="amateurs-slider">
        <div class="owl-carousel owl-theme" role="listbox">
            <div class="item msp_post_slide slide-1">
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <div class="sub-title">
                                    team landing page
                                </div>
                                <div class="big-title">
                                    soccer
                                </div>
                                <a href="/" class="btn">
                                    upcoming events
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item msp_post_slide slide-2">
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <div class="sub-title">
                                    team landing page
                                </div>
                                <div class="big-title">
                                    soccer
                                </div>
                                <a href="/" class="btn">
                                    upcoming events
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
        <div class="progress-line"><div class="bar"></div></div>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/others/js/library/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery.sticky.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery.jcarousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jcarousel.connected-carousels.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/owl.carousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/progressbar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/jquery.bracket.min.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/chartist.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/Chart.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/fancySelect.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/isotope.pkgd.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/jquery.team-coundown.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/matches-slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/header.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/matches_broadcast_listing.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/news-line.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/match_galery.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/main-club-gallery.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/product-slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/circle-bar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/standings.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/shop-price-filter.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/timeseries.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/radar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/preloader.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/diagram.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/bi-polar-diagram.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/label-placement-diagram.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/donut-chart.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/animate-donut.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/advanced-smil.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/svg-path.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/pick-circle.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/horizontal-bar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/gauge-chart.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/stacked-bar.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/chartist-plugin-threshold.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/library/chartist-plugin-pointlabels.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/treshold.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/visible.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/anchor.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/landing_carousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/landing_sport_standings.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/twitterslider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/champions.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/landing_mainnews_slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/carousel.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/video_slider.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/footer_slides.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/player_test.js"></script>
<script type="text/javascript" src="~/Scripts/others/js/main.js"></script>
