﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kampus.DAL.MyModel db = new Kampus.DAL.MyModel();
    var calendar = ViewBag.Calendar;
    int blogSayac = 0;
}


<section id="intro">
    <div class="intro-text">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <h2>@ViewBag.IntroBaslik</h2>
                    <a href="#kimiz" class="btn-get-started scrollto">Detaylar</a>
                </div>
            </div>
        </div>
    </div>

</section><!-- #intro -->

<main id="main">
    <!--==========================
      Biz kimiz Section
    ============================-->
    <section class="success-story" id="kimiz">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-md-12" style="color:white">
                    <h2 class="" style="color:white">BİZ KİMİZ</h2>
                    <span class="section-divider"></span>
                    @Html.Raw(@ViewBag.BizKimiz)
                    <br /><br />

                    <div class="row">
                        <div class="col-lg-6">
                            <div style="color:white">
                                <div class="icon"><img src="~/Content/images/common/success-icon.png" alt="succes-icon"></div>
                                <div class="title">@ViewBag.Text1Baslik</div>
                                <p>@Html.Raw(@ViewBag.Text1Icerik)<br><br></p>
                            </div>
                        </div>
                        <div class="col-md-4" style="color:white">
                            <div class="icon"><img src="~/Content/images/common/success-icon.png" alt="succes-icon"></div>
                            <div class="title">@ViewBag.Text2Baslik</div>
                            <p>@Html.Raw(@ViewBag.Text2Icerik)</p>
                        </div>

                        <div class="col-md-4"><a href="#detay" class="btn-get-started scrollto" style="align-content: left">Hepsi ve daha fazlası için…</a></div>
                    </div>

                    <br><br>




                    <!-- <div class="row">
                         <div class="col-md-4" style="color:white">
                             <div class="icon"><img src="~/Content/images/common/success-icon.png" alt="succes-icon"></div>
                             <div class="title">Nasıl?</div>
                             <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.</p>
                             <div class="col-md-4"><a href="#detay" class="btn-get-started scrollto">Katıl</a></div>
                         </div>
                         <div class="col-md-4" style="color:white">
                             <div class="icon"><img src="~/Content/images/common/success-icon1.png" alt="succes-icon"></div>
                             <div class="title">Ne Zaman?</div>
                             <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.                                    </p>
                         <div class="col-md-4"><a href="#detay" class="btn-get-started scrollto">Katıl</a></div>
                         </div>
                         <div class="col-md-4" style="color:white">
                                 <div class="icon"><img src="~/Content/images/common/success-icon1.png" alt="succes-icon"></div>
                                 <div class="title">Ne Zaman?</div>
                                 <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.                                    </p>
                         <div class="col-md-4"><a href="#detay" class="btn-get-started scrollto" style="align-content: left">Katıl</a></div>
                         </div>




                       </div>
                       -->
                    <br>
                </div>

            </div>
        </div>
    </section>


    <!--==========================
      Oyun Kısa Detay Section
    ============================-->
    <section class="section-gamedetail" id="detay">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-md-8" style="color:white">
                    <h2 style="color:white"> OYUN KATILIM KOŞULLARI </h2>
                    <h4 style="color:white">@ViewBag.Header </h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="title">1. Kural</div>
                            <p>   @ViewBag.Rule1</p>
                        </div>
                        <div class="col-md-4">
                            <div class="title">2. Kural</div>
                            <p>   @ViewBag.Rule2</p>
                        </div>
                        <div class="col-md-4">
                            <div class="title">3. Kural</div>
                            <p>   @ViewBag.Rule3</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="title">4. Kural</div>
                            <p>   @ViewBag.Rule4</p>
                        </div>
                        <div class="col-md-4">
                            <div class="title">5. Kural</div>
                            <p>   @ViewBag.Rule5</p>
                        </div>
                        <div class="col-md-4">
                            <div class="title">6. Kural</div>
                            <p>   @ViewBag.Rule6</p>
                        </div>

                        <div class="col-md-3"><a href="#features" class="booking scrollto">Ödüller</a></div>
                        <div class="col-md-9"></div>
                    </div>
                </div>

                <div class="col-md-4 position-relative">
                    <h2 style="color: #fff"> Oyunlarını seç! </h2>
                    <div class="row">
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="~/Content/images/arif/hearthstone.png" alt="coach-image">
                        </div>
                        <div class="col-md-6" style="color:white">
                            <a href="detay.html"><img class="img-responsive" src="~/Content/images/arif/csgo.png" alt="coach-image"></a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 35px;">
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="~/Content/images/arif/fifa.png" alt="coach-image">
                        </div>
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="~/Content/images/arif/lol.png" alt="coach-image">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 35px;">
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="~/Content/images/arif/aov.png" alt="coach-image">
                        </div>
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="~/Content/images/arif/pubg.png" alt="coach-image">
                        </div>
                    </div>   <br><br>
                </div>

            </div>
    </section>


    <!--==========================
      Odul Section
    ============================-->
    <section id="features" class="success-story">
        <div class="container">

            <div class="row" style="margin-top: -60px">

                <div class="col-lg-8 offset-lg-4">
                    <div class="section-header wow fadeIn" data-wow-duration="1s">
                        <h3 style="text-align: center; color: #fff;">ÖDÜLLER</h3>
                        <span class="section-divider" style=" margin-top -20px"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 features-img">
                    <img src="~/Content/images/arif/winner.png" alt="" class="wow fadeInLeft">
                </div>

                <div class="col-lg-8 col-md-7 ">

                    <div class="row wow fadeInRight">

                        @foreach (var item in db.Games.ToList())
                        {
                            <div class="col-lg-6 col-md-6 box ">
                                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                                <h4 class="title" style="margin-top: 5px"><a href="">@item.GameName</a></h4>
                                <p class="description">@item.FirstPrize</p>
                            </div>
                        }



                    </div>

                </div>

                <div class="col-md-12">
                    <a href="#clients" class="btn-get-started scrollto">Katıl</a>
                </div>

            </div>

        </div>

        <br><br><br><br>

    </section><!-- #features -->
    <!--==========================
      Clients
    ============================-->

    <section id="clients">
        <div class="container">

            <div class="row wow fadeInUp" style="margin-right: 80px;">

                <div class="col-md-12">
                    <h2 class="section-title" style="color: #fff">OYUN TAKVİMLERİ</h2>
                </div>
                @foreach (var item in calendar)
                {
                    <div class="col-md-12">
                        <div class="tab-item news-tab tab-pane" id="takvim">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="section-title" style="color: #fff;">@item.Games.GameName</h4><br>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="timeline-bar">
                                            <div class="bar">
                                                <div class="date date-1 active">@item.Date1</div>
                                                @if (item.Date2 != null)
                                                {  <div class="date date-2">@item.Date2</div>  }
                                                @if (item.Date3 != null)
                                                {  <div class="date date-3">@item.Date3</div>  }
                                                @if (item.Date4 != null)
                                                {  <div class="date date-4">@item.Date4</div>  }
                                                @if (item.Date5 != null)
                                                {  <div class="date date-5">@item.Date5</div>  }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }



                <div class="col-md-2">
                    <img src="~/Content/images/arif/lol.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="~/Content/images/arif/fifa.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="~/Content/images/arif/csgo.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="~/Content/images/arif/lol.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="~/Content/images/arif/fifa.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="~/Content/images/arif/csgo.png" alt="">
                </div>

            </div>
        </div>
    </section>


    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <section id="advanced-features">

        <!-- Bölüm 4 Başvur Başladı -->
        <div id="contact" class="esport-championship-contact">
            <div class="wrapper-img">
                <!--<img src="~/Content/images/common/esport-champ-contact-background.jpg" alt="esport-champ-contact-background">-->
                <img src="~/Content/images/arif/mmm.jpg" alt="esport-champ-contact-background">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="information-wrap-left">
                            <div>
                                <span class="header-first">ESpor Kampüse </span>
                                <span class="header-red">Takım Olarak BAŞVUR</span>
                            </div>
                            <span>
                                <span>Her bir takıma ailt bilgiler kurallarda bulabilirsin</span>
                                <span>Son başvuru tarihini kaçırma</span>
                            </span>
                            <a href="@Url.Action("Team","Home")">
                                Haydi KATIL
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="information-wrap">
                            <div>
                                <span class="header-welcom">ESpor Kampüse</span>
                                <span class="header-arena">Bİreysel BAŞVUR</span>
                            </div>
                            <span>
                                <span>Bireysel katılımlar için bilgilere kurallardan erişebilirsin</span>
                                <span>Son başvuru tarihini kaçırma</span>
                            </span>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Register","Home")" class="btn-get-started">
                                    HAYDİ KATIL
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bölüm 4 Başvur Başladı -->

    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <!--
        <section id="call-to-action">
          <div class="container">
            <div class="row">
              <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Call To Action</h3>
                <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#">Call To Action</a>
              </div>

            </div>

          </div>
        </section><!-- #call-to-action -->
    <!--==========================
      More Features Section
    ============================-->
    <!--
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">More Features</h3>
          <span class="section-divider"></span>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="ion-ios-heart-outline"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div>

        </div>
      </div>
    </section>
    -->
    <!-- #more-features -->
    <!--==========================
      Blog
    ============================-->

    <section id="blog">
        <div class="outter-wrapper body-wrapper">
            <div class="wrapper ad-pad clearfix">
                <!-- Column -->
                <div class="col-1-2" style="color: #fff">
                    <h3 style="color: #fff">Yenİ Haber</h3>

                    <h6 class="title"><a href="@Url.Action("BlogDetail","Home",new {id=@ViewBag.BlogId })" style="color: #fff">@ViewBag.BlogBaslik</a></h6>
                    <p>
                        @Html.Raw(@ViewBag.BlogIcerik)
                        &#8230;<a href="@Url.Action("BlogDetail","Home",new {id=@ViewBag.BlogId })"><i class="fas fa-angle-right"></i>detay</a>
                    </p>
                </div>


                <!-- Column -->
                <div class="col-1-2 last" style="color: #fff">
                    <h3 style="color: #fff">Daha öncekİ Yazılar</h3>
                    <ul class="widget-event-list">
                        @foreach (var item in db.Blogs.Where(x => x.Priority == false).Where(x => x.IsActive == true).OrderByDescending(x => x.CreatedDate))
                        {
                            blogSayac++;
                            if (blogSayac < 4)
                            {
                                <li>
                                    <img class="left stay" src="@item.BlogImageURL" alt="mock" />
                                    <div class="date">@item.CreatedDate</div>
                                    <h6 class="title"><a href="@Url.Action("BlogDetail", "Home", new { id = @item.BlogId })" style="color: #fff">@item.BlogTitle</a></h6>
                                    <p>
                                        @if (item.BlogContent.Count() > 120)
                                        { item.BlogContent = item.BlogContent.Substring(0, 120); }
                                        @Html.Raw(@item.BlogContent)
                                        &#8230;<a href="@Url.Action("BlogDetail", "Home", new { id = @item.BlogId })"><i class="fas fa-angle-right"></i>detay</a>
                                    </p>
                                </li>
                            }
                            else { break; }

                        }



                    </ul>
                </div>


            </div>
        </div>
    </section>

    <!--==========================
      Blog
    ============================-->
    <!--==========================
      Contact Section
    ============================-->
    <section id="iletisim">

        <div class="container">

            <br><br>
            <div class="row wow fadeInUp">

                <div class="col-lg-4 col-md-4">
                    <div class="contact-about">
                        <h3>Esporkampus</h3>
                        <p></p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="info">
                        <div>
                            <i class="ion-ios-location-outline"></i>
                            <p><br>İstanbul </p>
                        </div>

                        <div>
                            <i class="ion-ios-email-outline"></i>
                            <p>info@esporkampus.com</p>
                        </div>

                        <div>
                            <i class="ion-ios-telephone-outline"></i>
                            <p>.........</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-8">
                    <br><br>
                    <div class="form">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div id="sendmessage">Bize ne söylemek istersiniz!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="AdSoyad" class="form-control" id="AdSoyad" placeholder="Ad-Soyad" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="Eposta" id="Eposta" placeholder="E-Posta" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Konu" id="Konu" placeholder="Konu" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="Mesaj" rows="5" data-rule="required" data-msg="Mesajınız..." placeholder="Mesajınız..."></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><input type="submit" title="Gönder"></div>
                            </form>
                        }
                    </div>
                </div>


            </div>

        </div>
    </section><!-- #contact -->

</main>
